@tailwind base;
@tailwind components;
@tailwind utilities;

.padding {
	@apply px-[12px] sm:px-[20px] md:px-[30px] xl:px-[48px];
}
.custom-label .ant-form-item-label {
	font-weight: bold;
	font-size: 16px;
	color: #1890ff;
	padding: 0;
}
.ant-form-item-label > label {
	font-size: 16px;
}
